/* Home.css */
.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: Arial, sans-serif;
}

.home-page h1 {
    font-size: 3rem;
    color: #333;
}



